@{
    WebSecurity.RequireAuthenticatedUser();
    if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Super Admin") || Roles.IsUserInRole(WebSecurity.CurrentUserName, "Manager") || Roles.IsUserInRole(WebSecurity.CurrentUserName, "Librarian") || Roles.IsUserInRole(WebSecurity.CurrentUserName, "Library Users") )
    {} else {
        Response.Redirect("~/Error/Forbidden.cshtml");
    }
    Layout = "~/_MemberLayout.cshtml";

    var db = Database.Open("StarterSite");
    IEnumerable<dynamic> selecteddata1 = Enumerable.Empty<dynamic>();
    IEnumerable<dynamic> selecteddata2 = Enumerable.Empty<dynamic>();

    var selectQueryStringP2 = "SELECT * FROM P2Request WHERE MemberID = @0";
    selecteddata1 = db.Query(selectQueryStringP2, WebSecurity.CurrentUserId);
    var grid1 = new WebGrid(source: selecteddata1, rowsPerPage: 99);

    var selectQueryStringBeta = "SELECT * FROM BetaRequest WHERE MemberID = @0";
    selecteddata2 = db.Query(selectQueryStringBeta, WebSecurity.CurrentUserId);
    var grid2 = new WebGrid(source: selecteddata2, rowsPerPage: 99);


}

<div class="col-lg-12">
    <br />
    <div class="col-lg-12 text-left">
        <ul class="breadcrumb">
            <li><a href="~/MemberArea/Dashboard.cshtml">Dashboard</a></li>
            <li class="active">All Request</li>
        </ul>
    </div>
    <br />
</div>


<div class="col-lg-12">
    <div class="col-lg-12">
        <div class="form-group panel panel-default">
            <div class="panel-heading">
                P2
            </div>
            <div class="panel-body">
                @grid1.GetHtml(
                    tableStyle: "table table-bordered table-hover",
                    columns: grid1.Columns(
                        grid1.Column("DateNeeded", header: "Date Needed", format: item => ((item.DateNeeded == null) ? "" : item.DateNeeded.ToString("MM/dd/yyyy"))),
                        grid1.Column("Quantity"),
                        grid1.Column("Purpose")
                        )
               )
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="col-lg-12">
        <div class="form-group panel panel-default">
            <div class="panel-heading">
                Beta
            </div>
            <div class="panel-body">
                @grid2.GetHtml(
                    tableStyle: "table table-bordered table-hover",
                    columns: grid2.Columns(
                        grid2.Column("DateNeeded", header: "Date Needed", format: item => ((item.DateNeeded == null) ? "" : item.DateNeeded.ToString("MM/dd/yyyy"))),
                        grid2.Column("Subject"),
                        grid2.Column("Purpose"),
                        grid2.Column("BetaNumbers")
                        )
               )
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <br />
    <div class="col-lg-12 text-left">
        <ul class="breadcrumb">
        </ul>
    </div>
    <br />
</div>
<br /><br />