@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registration Confirmation Page";

    string message = "";
    var confirmationToken = Request["confirmationCode"];

    WebSecurity.Logout();
    if (!confirmationToken.IsEmpty()) {
        if (WebSecurity.ConfirmAccount(confirmationToken)) {
            message = "Registration Confirmed! Click on the log in tab to log in to the site.";
        } else {
            message = "The system could not confirm your registration info, please contact support.";
        }
    }
}



<br /><br /><br /><br /><br /><br /><br /><br />
<div class="row">
    <div class="col-lg-12 text-center">
        @if (!message.IsEmpty())
        {
            <h3 class="text-danger">@message</h3>
        }
        else
        {
            <h4 class="text-danger">An error had occurred please contact support.</h4>
        }
    </div>
</div>


