@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Forget Your Password";

    bool passwordSent = false;
    var resetToken = "";
    var email = Request.Form["email"] ?? Request.QueryString["email"];

    // Setup validation
    Validation.RequireField("email", "The email address field is required.");

    if (IsPost) {
        AntiForgery.Validate();
        // validate email
        bool isValid = true;
        if (Validation.IsValid()) {
            if (WebSecurity.GetUserId(email) > -1 && WebSecurity.IsConfirmed(email)) {
                resetToken = WebSecurity.GeneratePasswordResetToken(email); // Optionally specify an expiration date for the token
            } else {
                passwordSent = true; // We don't want to disclose that the user does not exist.
                isValid = false;
            }
        }
        if (isValid) {
            var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
            var resetUrl = hostUrl + VirtualPathUtility.ToAbsolute("~/Account/PasswordReset?resetToken=" + HttpUtility.UrlEncode(resetToken));
            WebMail.Send(
                to: email,
                subject: "Please reset your password", 
                body: "Click <a href=" + HttpUtility.HtmlAttributeEncode(resetUrl) + ">here</a> to reset your password."
            );
            passwordSent = true;
        }
    }
}

<br />
<br />
<br />
<form method="post">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-5">
            <div class="form-horizontal">
                <fieldset>
                    <legend class="text-center">Password Reset Instructions Form</legend>
                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            <label for="email" @if (!ModelState.IsValidField("email")) { <text> class="error-label" </text>  }>Email address</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="email" name="email" value="" @Validation.For("email") />
                            <div class="text-danger">
                                @* Write any user name validation errors to the page *@
                                @Html.ValidationMessage("email")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label"></div>
                        <div class="col-md-4">
                            <input id="submitbutton" type="submit" class="btn btn-default" value="Submit Instructions" />
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-10 text-danger">
                            @AntiForgery.GetHtml()
                            @Html.ValidationSummary(excludeFieldErrors: true)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 text-center">
                            @if (!WebMail.SmtpServer.IsEmpty())
                            {
                                <p>
                                    We will send password reset instructions to the email address associated with your account.
                                </p>

                                if (passwordSent)
                                {
                                    <p class="message-success">
                                        Instructions to reset your password have been sent to the specified email address.
                                    </p>
                                }
                            }
                            else
                            {
                                <p class="message-info">
                                    Password recovery is disabled for this website because the SMTP server is
                                    not configured correctly. Please contact the owner of this site to reset
                                    your password.
                                </p>
                            }
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
    </div>
</form>